{{>header}}
<main class="d-flex flex-column justify-content-around">
	<section class="d-flex flex-row justify-content-center">
		<form id="form-address">
			<div class="input-group">
			<span class="input-group-text"><i class="fa fa-map-marker"></i></span>
				<input class="form-control" type="text" placeholder="Address" aria-label="Username" aria-describedby="basic-addon1">
			</div>
			<button type="submit" class="btn btn-primary">Get Forecast</button>
		</form>
	</section>

<div class="d-flex flex-row justify-content-center">
    <div id="form-jumbo">
        <header>FORECAST</header>
        <div id="form-div" class="d-flex justify-content-center flex-column">

		</div>
    </div>
</div>
</main>
<script src="style.js"></script>

{{>footer}}

