		{{>header}}
		<main class="d-flex flex-column justify-content-stretch">
			<section class="d-flex flex-row justify-content-around align-items-stretch">
				<div class="d-flex flex-column justify-content-between align-items-center">
					<div id="title" class="display-1">FORECASTER</div>
					<p class="font-weight-bold text-lg text-md text-sm text-center">World's #1 Weather Forecast API, Brings a forthwith Forecast for you </p>

					<p><a class="btn btn-warning border border-light premium" >GO FOR PREMIUM</a></p>
				</div>
			</section>

			<div class="d-flex flex-row justify-content-center p-2">
				<div id="index-jumbo">
					<p>Get started</p>

					<p><a class="btn btn-info btn-lg" href="/form">TRY FOR FREE</a></p>
				</div>
			</div>
		</main>
		{{>footer}}
	</body>
</html>

