{{>header}}
    <section class="header">
        <div class="jumbotron text-center">
            <div class="display-1" id="title">FORECASTER</div>
            <p class="mb-5 mt-2">World's #1 Weather Forecast API, Brings a forthwith Forecast for you </p>

            <a class="btn btn-success m-2" style="border:solid white; color:white" href="/form">TRY FOR FREE</a>
            <a class="btn btn-warning m-2" style="border:solid white">GO FOR PREMIUM</a>
        </div>
    </section>

    <div class="container">
        <div id="index-jumbo" class="jumbotron text-center mt-5">
            <div class="display-4 mb-3"> Get started with FREE </div>

            <a class="btn btn-info btn-lg" href="/form">TRY FOR FREE</a>
        </div>
    </div>

{{>footer}}

